.columns-wrapper {
  display: flex;
  align-items:flex-start;
  align-content:flex-start;
  flex-wrap: nowrap;
  overflow-x: auto;
  height: calc(100vh - 40px);
}

.column {
  user-select: none;
  background-color: #dfe3e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
  min-width: 280px;
}

.columns-wrapper__add {
  padding-right: 30px;
}

.column, .columns-wrapper__add {
  width: 320px;
  min-width: 280px;
  margin: 5px 0;
  margin-left: 10px;
  box-sizing: border-box;
}

.column-header {
  padding: 10px 8px 8px 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  position: relative;
  &__title {
    cursor: pointer;
    width: 85%;
    resize: none;
    background: none;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
    color: #17394d;
    height: 18px;
    max-height: 100px;
    &:focus {
      background: white;
      padding: 5px;
      box-shadow: inset 0 0 0 2px #0079bf;
      outline: 0;
    }
  }
  &__settings {
    position: absolute;
    right: 5px;
    top: 2px;
    border-radius: 3px;
    color: #798d99;
    height: 32px;
    font-size: 20px;
    width: 32px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: #516b7a;
      background-color: rgba(9,45,66,.13);
      text-decoration: none;
    }
  }
  &__dropdown {
    position: absolute;
    top: 35px;
    right: 5px;
    z-index: 2;
    background: white;
    margin-left: 0;
  }
}

.list-wrapper {
  min-height: 20px;
}

.column-carts {
  padding: 0 8px;
  &>div {
    min-height: 20px;
  }
}

.column-cart {
  position: relative;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,45,66,.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 1;
  &__icon {
    display: none;
    position: absolute;
    right: 10px;
    top: 12px;
    width: 18px;
    height: 18px;
    transition: 0.3s;
    &:hover {
      filter: brightness(80%);
    }
    &:active {
      opacity: 0.7;
    }
  }
  &:focus {
    filter: brightness(95%);
    outline: none;
  }
  span, p {
    padding: 5px 10px;
  }
  p {
    margin: 0;
  }
  span {
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    color: #17394d;
    font-weight: bold;
  }
  &:hover, &:focus {
    .column-cart__icon {
      display: block;
    }
  }
}

.column-footer {
  padding: 4px 8px 10px 10px;
  color: #6b808c;
  span {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
  .column-footer__edit {
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
    }
    textarea {
      background-color: #fff;
      border-radius: 3px;
      padding: 5px;
      box-shadow: 0 1px 0 rgba(9,45,66,.25);
      cursor: pointer;
      display: block;
      height: 40px;
      margin-bottom: 8px;
      max-width: 300px;
      min-height: 20px;
      position: relative;
      resize: none;
      text-decoration: none;
      border: none;
      font-family: Helvetica;
      font-size: 16px;
      letter-spacing: normal;
      word-spacing: normal;
      text-transform: none;
      text-indent: 0px;
      text-shadow: none;
    }
  }
  img {
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin-left: 10px;
    &:hover {
      opacity: 0.8;
    }
  }
}

.button-form__green, .button-form__red {
  display: inline;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #5aac44;
  box-shadow: 0 1px 0 0 #3f6f21;
  border: none;
  color: #fff;
  height: 30px;
  font-weight: 700;
  padding: 6px 16px;
  text-align: center;
  border-radius: 3px;
  transition: 0.25s;
  &:hover {
    opacity: 0.8;
  }
  &:active {
    filter: brightness(80%);
  }
}

.button-form__red {
  background-color: #EB5A46;
}

.columns-wrapper {
  width: 100%;
  &__add {
    color: hsla(0,0%,100%,.8);
    transition: color 85ms ease-in;
    &__initial {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px 10px;
      border-radius: 3px;
      cursor: pointer;
      background-color: rgba(0,0,0,.12);
      transition: 0.3s;
      img {
        width: 10px;
        height: 10px;
        padding-right: 10px;
      }
      &:hover {
        background-color: rgba(0,0,0,.25);
      }
    }
    &__edit {
      display: flex;
      flex-direction: column;
      background-color: #dfe3e6;
      border-radius: 3px;
      height: auto;
      min-height: 32px;
      padding: 4px;
      box-sizing: border-box;
      transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
      div:first-child {
        width: 100%;
        box-sizing: content-box;
        input {
          box-sizing: border-box;
          background: #fff;
          width: 100%;
          border: none;
          box-shadow: inset 0 0 0 2px #0079bf;
          display: block;
          margin: 0;
          transition: margin 85ms ease-in,background 85ms ease-in;
          padding: 10px 12px;
          border-radius: 3px;
          font-size: 14px;
        }
      }
      &>div:nth-child(2) {
        padding: 10px 0 6px 0;
        img {
          width: 10px;
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }
  }
}