.column {
  background-color: #dfe3e6;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  position: relative;
  white-space: normal;
}

.column, .columns-wrapper__add {
  width: 272px;
  margin: 5px 0;
  margin-left: 6px;
  box-sizing: border-box;
}

.column-header {
  padding: 10px 8px 8px;
  font-weight: bold;
  position: relative;
  &__title {
    cursor: pointer;
    width: 85%;
    resize: none;
    background: none;
    outline: none;
    border: none;
    font-family: inherit;
    font-weight: bold;
    color: #17394d;
    height: 18px;
    max-height: 100px;
    &:focus {
      background: white;
      padding: 5px;
      box-shadow: inset 0 0 0 2px #0079bf;
      outline: 0;
    }
  }
  &__settings {
    position: absolute;
    right: 5px;
    top: 2px;
    border-radius: 3px;
    color: #798d99;
    height: 32px;
    font-size: 20px;
    width: 32px;
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: #516b7a;
      background-color: rgba(9,45,66,.13);
      text-decoration: none;
    }
  }
}

.column-carts {
  padding: 0 8px;
}

.column-cart {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,45,66,.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
  span {
    padding: 5px 5px;
    display: block;
    margin: 0 0 4px;
    overflow: hidden;
    text-decoration: none;
    word-wrap: break-word;
    color: #17394d;
  }
}

.column-footer {
  padding: 4px 8px 8px 8px;
  color: #6b808c;
  span {
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }
}

.column-header {
  display: flex;
  justify-content: space-between;
}


.columns-wrapper {
  display: flex;
  &__add {
    color: hsla(0,0%,100%,.8);
    transition: color 85ms ease-in;
    &__initial {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 10px 10px;
      border-radius: 3px;
      cursor: pointer;
      background-color: rgba(0,0,0,.12);
      transition: 0.3s;
      img {
        width: 10px;
        height: 10px;
        padding-right: 10px;
      }
      &:hover {
        background-color: rgba(0,0,0,.25);
      }
    }
    &__edit {
      display: flex;
      flex-direction: column;
      background-color: #dfe3e6;
      border-radius: 3px;
      height: auto;
      min-height: 32px;
      padding: 4px;
      box-sizing: border-box;
      transition: background 85ms ease-in,opacity 40ms ease-in,border-color 85ms ease-in;
      div:first-child {
        width: 100%;
        box-sizing: content-box;
        input {
          box-sizing: border-box;
          background: #fff;
          width: 100%;
          border: none;
          box-shadow: inset 0 0 0 2px #0079bf;
          display: block;
          margin: 0;
          transition: margin 85ms ease-in,background 85ms ease-in;
          padding: 10px 12px;
          border-radius: 3px;
          font-size: 14px;
        }
      }
      &>div:nth-child(2) {
        padding: 10px 0 6px 0;
        .columns-wrapper__add__edit-button {
          display: inline;
          cursor: pointer;
          box-sizing: border-box;
          background-color: #5aac44;
          box-shadow: 0 1px 0 0 #3f6f21;
          border: none;
          color: #fff;
          height: 30px;
          font-weight: 700;
          line-height: 20px;
          padding: 9px 12px;
          text-align: center;
          border-radius: 3px;
          transition: 0.25s;
          &:hover {
            opacity: 0.8;
          }
        }
        img {
          width: 13px;
          height: 13px;
          cursor: pointer;
          margin-left: 10px;
        }
      }
    }
  }
}